*.class

# Package Files #
*.jar
*.war
*.ear
.idea
*.iml
*.ipr
*.iws
target
/.java-version
*flattened-pom.xml
*.polyglot.pom.yaml
/first_iteration.json
/allure-results
/allure-reports
application.yaml
/resources/logback-spring.xml
test*.html
test*.pdf
/.envrc
/resources/application-secrets.yaml
